:root {
    --bg-header: #2C3E50;
    --bg-sections: #1ABC9C;
    --bg-banner-btm: #3A546D;
}


#site_header {
    background-color: var(--bg-header);
}

.colored_section {
    background-color: var(--bg-sections);
}

.square {
    background-color: black;
    height: 100px;
    width: 100px;
}

.ms_pb {
    padding-bottom: 200px ;
}

.ms_btn {
    background-color: var(--bg-sections);
}