:root {
    --bg-header: #2C3E50;
    --bg-sections: #1ABC9C;
    --bg-banner-btm: #3A546D;
}


#site_header {
    background-color: var(--bg-header);
}

.colored_section {
    background-color: var(--bg-sections);
}

.img_container {
    width: 200px;
}

.ms_decoration {
    width: 40%;
}

.ms_description {
    width: 80%;
}

.ms_light {
    height: 3px;
    background-color: white;
}

.ms_dark {
    height: 3px;
    background-color: black;
}

.ms_pb {
    padding-bottom: 200px ;
}

.ms_btn {
    background-color: var(--bg-sections);
}

#banner_btm {
    background-color: var(--bg-banner-btm);
}

#site_footer {
    background-color: var(--bg-header);
}